#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
	# Don't run upstream's clean, as it puts the tree in a state different from tarball

# Install in debian/tmp, to pick things with dh_install
# Pack the rules for usb-modeswitch-data
override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp/ -- db-install-packed
